li{
  width: 90%;
  display: flex;
  list-style: none;
  border: solid 1px black;
  background-color: rgba(53, 53, 53, 0.848);
  justify-content: space-between;
  box-sizing: border-box;
}

p{
  color: rgba(240, 248, 255, 0.734);
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.completed{
  background-color: rgba(74, 235, 74, 0.89);
  margin-left: 0.5rem;
}
.completed-field{
  margin-left: 0.5rem;
  text-decoration:dotted ;
  text-decoration: line-through;
}

button{
  margin-left: 0.5rem;
  background-color: green;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 30px;
}
.eliminar{
  color: rgba(255, 255, 255, 0.722);
  background-color: rgba(186, 28, 28, 0.859);
}